In [8]:
import pandas as pd
import numpy as np
from scipy import stats
import statsmodels.api as sm
from sklearn import linear_model

In [9]:
port = pd.read_csv('10_Industry_Portfolios.CSV',skiprows = 11,nrows = 1117)
factors = pd.read_csv('F-F_Research_Data_Factors.CSV',skiprows = 3,nrows = 1117)
mom = pd.read_csv('F-F_Momentum_Factor.CSV',skiprows = 13,nrows = 1111)
port_factors = pd.merge(port,factors,how = 'left')
data = pd.merge(port_factors, mom, how = 'left')
name = data.columns.values
name[0] = 'Date'
name[-1] = 'Mom'
data.columns = name
data = data[(data['Date']>= 196301)& (data['Date']<=201812)]
data.head()

,Date,NoDur,Durbl,Manuf,Enrgy,HiTec,Telcm,Shops,Hlth,Utils,Other,Mkt-RF,SMB,HML,RF,Mom
438,196301,5.94,6.38,5.73,2.69,5.64,4.13,4.09,5.65,5.26,5.24,4.93,3.06,2.26,0.25,-2.10
439,196302,-3.04,-3.02,-2.57,-1.31,-5.06,-1.09,-0.66,-2.58,-1.47,-0.37,-2.38,0.50,2.21,0.23,2.52
440,196303,2.57,7.44,2.87,6.97,2.74,1.94,2.02,1.18,1.79,2.87,3.08,-2.62,2.10,0.23,1.56
441,196304,2.38,5.67,4.69,6.05,6.41,3.73,5.45,7.62,2.40,5.85,4.51,-1.31,1.01,0.25,-0.08
442,196305,1.90,7.86,2.07,-0.11,4.19,-0.64,2.59,-0.25,1.03,3.63,1.76,1.12,2.50,0.24,0.37

In [10]:
# create a list of portfolio name
pfs = name[1:10]

# create an empty list to store data 
row_lists = []

# loop through the portoflio lists to regress each portfolio's return on market risk premium
for i in range(len(pfs)):
    X = data['Mkt-RF']
    Y = data[pfs[i]]-data['RF']
    X = sm.add_constant(X)
    
    # run regressions
    model1 = sm.OLS(Y, X)
    results_iid = model1.fit() # Base case: assuming iid errors
    results_hetero = model1.fit(cov_type='HC3') # Adjusted for heteroskedasticity
    results_serial = model1.fit(cov_type='HAC',cov_kwds={'maxlags':6, 'use_correction': True})  # Adjusted for serial correlation
    
    # creating a summary table
    summary = []
    summary.extend((pfs[i],
                    results_iid.params[0],
                    results_iid.params[1],
                    results_iid.bse[0],
                    results_iid.bse[1],
                    results_iid.tvalues[0],
                    results_iid.tvalues[1],
                    results_hetero.bse[0],
                    results_hetero.bse[1],
                    results_hetero.tvalues[0],
                    results_hetero.tvalues[1],
                    results_serial.bse[0],
                    results_serial.bse[1],
                    results_serial.tvalues[0],
                    results_serial.tvalues[1]))
    row_lists.append(summary)

result_df = pd.DataFrame(row_lists)
result_df.columns = ['Portfolios','Alpha','Beta',
                     'A_IID_SE','B_IID_SE','A_IID_T',
                     'B_IID_T','A_Hetero_SE','B_Hetero_SE',
                     'A_Hetero_T','B_Hetero_T','A_Serial_SE',
                     'B_Serial_SE','A_Serial_T','B_Serial_T']
result_df.set_index('Portfolios',inplace = True)

In [12]:
results_iid.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.330
Model:                            OLS   Adj. R-squared:                  0.329
Method:                 Least Squares   F-statistic:                     329.7
Date:                Mon, 23 Sep 2019   Prob (F-statistic):           3.17e-60
Time:                        11:49:00   Log-Likelihood:                -1743.3
No. Observations:                 672   AIC:                             3491.
Df Residuals:                     670   BIC:                             3500.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.1749      0.126      1.388      0.166      -0.073       0.422
Mkt-RF         0.5191      0.029     18.159      0.000       0.463       0.575
==============================================================================
Omnibus:                       14.493   Durbin-Watson:                   1.956
Prob(Omnibus):                  0.001   Jarque-Bera (JB):               26.837
Skew:                           0.055   Prob(JB):                     1.49e-06
Kurtosis:                       3.973   Cond. No.                         4.44
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [156]:
# Summary Table for Alpha and Beta
result_df[['Alpha','Beta']].round(3)

            Alpha   Beta
Portfolios
NoDur       0.247  0.792
Durbl      -0.144  1.143
Manuf       0.036  1.041
Enrgy       0.167  0.813
HiTec      -0.027  1.249
Telcm       0.058  0.779
Shops       0.133  1.004
Hlth        0.249  0.843
Utils       0.175  0.519

In [157]:
# result assuming IID
result_df[['A_IID_SE','B_IID_SE','A_IID_T','B_IID_T',]].round(3)

            A_IID_SE  B_IID_SE  A_IID_T  B_IID_T
Portfolios
NoDur          0.093     0.021    2.663   37.713
Durbl          0.143     0.032   -1.007   35.245
Manuf          0.066     0.015    0.537   69.184
Enrgy          0.159     0.036    1.048   22.478
HiTec          0.127     0.029   -0.214   43.429
Telcm          0.119     0.027    0.487   28.934
Shops          0.100     0.023    1.326   44.182
Hlth           0.120     0.027    2.073   30.958
Utils          0.126     0.029    1.388   18.159

In [158]:
# results adjusted for heteroskedasticity
result_df[['A_Hetero_SE','B_Hetero_SE','A_Hetero_T','B_Hetero_T']].round(3)

            A_Hetero_SE  B_Hetero_SE  A_Hetero_T  B_Hetero_T
Portfolios
NoDur             0.094        0.028       2.633      28.165
Durbl             0.139        0.048      -1.037      23.775
Manuf             0.068        0.020       0.527      52.294
Enrgy             0.159        0.040       1.052      20.362
HiTec             0.127        0.034      -0.213      36.592
Telcm             0.120        0.033       0.482      23.773
Shops             0.100        0.031       1.330      32.320
Hlth              0.119        0.039       2.094      21.677
Utils             0.129        0.038       1.358      13.821

In [159]:
# result adjust for serial correlation
result_df[['A_Serial_SE','B_Serial_SE','A_Serial_T','B_Serial_T']].round(3)

            A_Serial_SE  B_Serial_SE  A_Serial_T  B_Serial_T
Portfolios
NoDur             0.108        0.041       2.284      19.405
Durbl             0.144        0.056      -0.999      20.306
Manuf             0.073        0.024       0.486      43.334
Enrgy             0.159        0.043       1.050      19.045
HiTec             0.136        0.049      -0.199      25.601
Telcm             0.133        0.040       0.435      19.294
Shops             0.109        0.036       1.217      27.954
Hlth              0.120        0.044       2.072      18.970
Utils             0.124        0.042       1.410      12.279

In [160]:
# Fama-French Three Factor Models

# create a new_list 
new_list = []

# loop through the portoflio lists to regress each portfolio's return on market risk premium
for i in range(len(pfs)):
    Y = data[pfs[i]]-data['RF']
    X = data[['Mkt-RF','SMB','HML']]
    model2 = sm.OLS(Y, X)
    
    factor_iid = model2.fit() # Base case: assuming iid errors
    factor_hetero = model2.fit(cov_type='HC3') # Adjusted for heteroskedasticity
    factor_serial = model2.fit(cov_type='HAC',cov_kwds={'maxlags':6, 'use_correction': True})  # adjust for serial correlation

    # creating a summary table
    summary2 = []
    summary2.extend((pfs[i],
                    factor_iid.params[0],
                    factor_iid.params[1],
                    factor_iid.params[2],
                    factor_iid.bse[0],
                    factor_iid.bse[1],
                    factor_iid.bse[2],
                    factor_iid.tvalues[0],
                    factor_iid.tvalues[1],
                    factor_iid.tvalues[2],
                    factor_hetero.bse[0],
                    factor_hetero.bse[1],
                    factor_hetero.bse[2],
                    factor_hetero.tvalues[0],
                    factor_hetero.tvalues[1],
                    factor_hetero.tvalues[2],
                    factor_serial.bse[0],
                    factor_serial.bse[1],
                    factor_serial.bse[2],
                    factor_serial.tvalues[0],
                    factor_serial.tvalues[1],
                    factor_serial.tvalues[2]))
    new_list.append(summary2)

factor_df = pd.DataFrame(new_list)
factor_df.columns = ['Portfolios','Alpha','SMB','HML',
                     'A_IID_SE','SMB_IID_SE','HML_IID_SE',
                     'A_IID_T','SMB_IID_T','HML_IID_T',
                     'A_Hetero_SE','SMB_Hetero_SE','HML_Hetero_SE',
                     'A_Hetero_T','SMB_Hetero_T','HML_Hetero_T',
                     'A_Serial_SE','SMB_Serial_SE','HML_Serial_SE',
                     'A_Serial_T','SMB_Serial_T','HML_Serial_T']
factor_df.set_index('Portfolios',inplace = True)

In [161]:
# summary table for 3 factors Fama French Test 
factor_df[['Alpha','SMB','HML']].round(3)

            Alpha    SMB    HML
Portfolios
NoDur       0.832 -0.073  0.122
Durbl       1.193  0.127  0.528
Manuf       1.063  0.014  0.158
Enrgy       0.894 -0.174  0.264
HiTec       1.121  0.209 -0.551
Telcm       0.838 -0.201  0.107
Shops       0.989  0.112  0.031
Hlth        0.851 -0.220 -0.294
Utils       0.613 -0.190  0.332

In [162]:
# result assuming IID
factor_df[['A_IID_SE','SMB_IID_SE','HML_IID_SE','A_IID_T','SMB_IID_T','HML_IID_T']].round(3)

            A_IID_SE  SMB_IID_SE  HML_IID_SE  A_IID_T  SMB_IID_T  HML_IID_T
Portfolios
NoDur          0.022       0.031       0.034   37.733     -2.335      3.646
Durbl          0.032       0.045       0.048   37.656      2.819     10.940
Manuf          0.015       0.022       0.024   68.769      0.644      6.718
Enrgy          0.037       0.053       0.057   23.879     -3.262      4.637
HiTec          0.026       0.037       0.040   43.001      5.629    -13.877
Telcm          0.028       0.040       0.042   30.097     -5.048      2.530
Shops          0.024       0.034       0.036   41.304      3.281      0.856
Hlth           0.028       0.039       0.042   30.881     -5.596     -7.012
Utils          0.029       0.041       0.043   21.500     -4.675      7.638

In [163]:
# result adjusted for heteroskedasticity
factor_df[['A_IID_SE','SMB_IID_SE','HML_IID_SE','A_IID_T','SMB_IID_T','HML_IID_T']].round(3)

            A_IID_SE  SMB_IID_SE  HML_IID_SE  A_IID_T  SMB_IID_T  HML_IID_T
Portfolios
NoDur          0.022       0.031       0.034   37.733     -2.335      3.646
Durbl          0.032       0.045       0.048   37.656      2.819     10.940
Manuf          0.015       0.022       0.024   68.769      0.644      6.718
Enrgy          0.037       0.053       0.057   23.879     -3.262      4.637
HiTec          0.026       0.037       0.040   43.001      5.629    -13.877
Telcm          0.028       0.040       0.042   30.097     -5.048      2.530
Shops          0.024       0.034       0.036   41.304      3.281      0.856
Hlth           0.028       0.039       0.042   30.881     -5.596     -7.012
Utils          0.029       0.041       0.043   21.500     -4.675      7.638

In [164]:
# summary table for 3 factors Fama French Test 
factor_df[['A_Hetero_SE','SMB_Hetero_SE','HML_Hetero_SE','A_Hetero_T','SMB_Hetero_T','HML_Hetero_T']].round(3)

,A_Hetero_SE,SMB_Hetero_SE,HML_Hetero_SE,A_Hetero_T,SMB_Hetero_T,HML_Hetero_T
Portfolios,,,,,,
NoDur,0.028,0.043,0.052,30.187,-1.707,2.371
Durbl,0.045,0.065,0.074,26.633,1.952,7.151
Manuf,0.019,0.034,0.034,56.034,0.412,4.589
Enrgy,0.043,0.062,0.074,20.709,-2.816,3.557
HiTec,0.033,0.049,0.054,33.604,4.241,-10.254
Telcm,0.032,0.046,0.054,26.466,-4.386,1.985
Shops,0.033,0.063,0.057,29.552,1.778,0.549
Hlth,0.035,0.055,0.070,24.545,-3.977,-4.222
Utils,0.036,0.048,0.062,17.175,-3.974,5.389

In [165]:
# summary table for 3 factors Fama French Test 
factor_df[['A_Serial_SE','SMB_Serial_SE','HML_Serial_SE','A_Serial_T','SMB_Serial_T','HML_Serial_T']].round(3)

,A_Serial_SE,SMB_Serial_SE,HML_Serial_SE,A_Serial_T,SMB_Serial_T,HML_Serial_T
Portfolios,,,,,,
NoDur,0.036,0.054,0.077,23.370,-1.356,1.598
Durbl,0.043,0.077,0.080,28.030,1.646,6.605
Manuf,0.019,0.046,0.048,55.529,0.307,3.310
Enrgy,0.045,0.071,0.100,19.865,-2.451,2.631
HiTec,0.040,0.049,0.074,27.934,4.236,-7.461
Telcm,0.038,0.054,0.070,22.204,-3.730,1.527
Shops,0.038,0.087,0.079,26.256,1.283,0.394
Hlth,0.038,0.052,0.097,22.238,-4.197,-3.035
Utils,0.037,0.048,0.082,16.432,-3.930,4.066

The Fama French 4 factors model shows HiTec and Health portfolio are growth oriented and Durable, Utilities and Energy are value oriented and the t-stats are significant enough.

In [166]:
# Fama-French Four Factor Models

# create a new_list 
mom_list = []

# loop through the portoflio lists to regress each portfolio's return on market risk premium
for i in range(len(pfs)):
    Y = data[pfs[i]]-data['RF']
    X = data[['Mkt-RF','SMB','HML','Mom']]
    model3 = sm.OLS(Y, X)
    
    mom_iid = model3.fit() # Base case: assuming iid errors
    mom_hetero = model3.fit(cov_type='HC3') # Adjusted for heteroskedasticity
    mom_serial = model3.fit(cov_type='HAC',cov_kwds={'maxlags':6, 'use_correction': True})  # adjust for serial correlation

    # creating a summary table
    summary3 = []
    summary3.extend((pfs[i],
                    mom_iid.params[0],
                    mom_iid.params[1],
                    mom_iid.params[2],
                    mom_iid.params[3],
                    mom_iid.bse[0],
                    mom_iid.bse[1],
                    mom_iid.bse[2],
                    mom_iid.bse[3],
                    mom_iid.tvalues[0],
                    mom_iid.tvalues[1],
                    mom_iid.tvalues[2],
                    mom_iid.tvalues[3],
                    mom_hetero.bse[0],
                    mom_hetero.bse[1],
                    mom_hetero.bse[2],
                    mom_hetero.bse[3],
                    mom_hetero.tvalues[0],
                    mom_hetero.tvalues[1],
                    mom_hetero.tvalues[2],
                    mom_hetero.tvalues[3],
                    mom_serial.bse[0],
                    mom_serial.bse[1],
                    mom_serial.bse[2],
                    mom_serial.bse[3],
                    mom_serial.tvalues[0],
                    mom_serial.tvalues[1],
                    mom_serial.tvalues[2],
                    mom_serial.tvalues[3]))
    mom_list.append(summary3)
    
mom_df = pd.DataFrame(mom_list)
mom_df.columns = ['Portfolios','Alpha','SMB','HML','MOM',
                     'A_IID_SE','SMB_IID_SE','HML_IID_SE','MOM_IID_SE',
                     'A_IID_T','SMB_IID_T','HML_IID_T','MOM_IID_T',
                     'A_Hetero_SE','SMB_Hetero_SE','HML_Hetero_SE','MOM_Hetero_SE',
                     'A_Hetero_T','SMB_Hetero_T','HML_Hetero_T','MOM_Hetero_T',
                     'A_Serial_SE','SMB_Serial_SE','HML_Serial_SE','MOM_Serial_SE',
                     'A_Serial_T','SMB_Serial_T','HML_Serial_T','MOM_Serial_T']
mom_df.set_index('Portfolios',inplace = True)

In [167]:
# summary table for 4 factors Fama French Test 
mom_df[['Alpha','SMB','HML','MOM']].round(3)

            Alpha    SMB    HML    MOM
Portfolios
NoDur       0.835 -0.074  0.127  0.017
Durbl       1.154  0.135  0.453 -0.250
Manuf       1.058  0.015  0.149 -0.032
Enrgy       0.908 -0.177  0.292  0.093
HiTec       1.109  0.212 -0.575 -0.081
Telcm       0.826 -0.198  0.082 -0.083
Shops       0.980  0.114  0.014 -0.059
Hlth        0.864 -0.222 -0.269  0.083
Utils       0.621 -0.192  0.347  0.052

In [171]:
# result assuming IID
mom_df[['A_IID_SE','SMB_IID_SE','HML_IID_SE','MOM_IID_SE',
       'A_IID_T','SMB_IID_T','HML_IID_T','MOM_IID_T']].round(3)

,A_IID_SE,SMB_IID_SE,HML_IID_SE,MOM_IID_SE,A_IID_T,SMB_IID_T,HML_IID_T,MOM_IID_T
Portfolios,,,,,,,,
NoDur,0.022,0.031,0.034,0.022,37.388,-2.349,3.722,0.754
Durbl,0.031,0.043,0.047,0.030,37.746,3.129,9.659,-8.197
Manuf,0.016,0.022,0.024,0.016,67.800,0.689,6.205,-2.070
Enrgy,0.038,0.053,0.058,0.038,24.063,-3.326,5.045,2.465
HiTec,0.026,0.037,0.040,0.026,42.287,5.731,-14.306,-3.118
Telcm,0.028,0.039,0.043,0.028,29.456,-5.013,1.916,-2.992
Shops,0.024,0.034,0.037,0.024,40.589,3.345,0.365,-2.467
Hlth,0.028,0.039,0.043,0.028,31.159,-5.692,-6.336,3.008
Utils,0.029,0.041,0.044,0.029,21.559,-4.721,7.857,1.812

In [169]:
# result adjusted for heteroskedasticity
mom_df[['A_Hetero_SE','SMB_Hetero_SE','HML_Hetero_SE','MOM_Hetero_SE',
                     'A_Hetero_T','SMB_Hetero_T','HML_Hetero_T','MOM_Hetero_T']].round(3)

,A_Hetero_SE,SMB_Hetero_SE,HML_Hetero_SE,MOM_Hetero_SE,A_Hetero_T,SMB_Hetero_T,HML_Hetero_T,MOM_Hetero_T
Portfolios,,,,,,,,
NoDur,0.028,0.044,0.052,0.035,30.034,-1.676,2.469,0.482
Durbl,0.037,0.055,0.062,0.070,31.219,2.473,7.306,-3.570
Manuf,0.018,0.033,0.034,0.027,57.278,0.457,4.377,-1.189
Enrgy,0.044,0.063,0.071,0.048,20.666,-2.799,4.117,1.924
HiTec,0.033,0.051,0.056,0.038,33.518,4.178,-10.231,-2.141
Telcm,0.032,0.046,0.057,0.044,25.848,-4.299,1.447,-1.907
Shops,0.033,0.060,0.055,0.034,29.647,1.889,0.247,-1.730
Hlth,0.035,0.056,0.070,0.047,25.033,-3.994,-3.851,1.770
Utils,0.036,0.049,0.063,0.040,17.462,-3.891,5.503,1.305

In [170]:
# result adjusted for serial correlation
mom_df[['A_Serial_SE','SMB_Serial_SE','HML_Serial_SE','MOM_Serial_SE',
                     'A_Serial_T','SMB_Serial_T','HML_Serial_T','MOM_Serial_T']].round(3)

,A_Serial_SE,SMB_Serial_SE,HML_Serial_SE,MOM_Serial_SE,A_Serial_T,SMB_Serial_T,HML_Serial_T,MOM_Serial_T
Portfolios,,,,,,,,
NoDur,0.034,0.055,0.077,0.048,24.290,-1.339,1.661,0.346
Durbl,0.038,0.059,0.065,0.052,30.180,2.297,7.016,-4.807
Manuf,0.018,0.043,0.049,0.032,58.386,0.350,3.045,-1.000
Enrgy,0.047,0.072,0.092,0.066,19.463,-2.443,3.183,1.404
HiTec,0.037,0.051,0.079,0.057,29.722,4.136,-7.328,-1.431
Telcm,0.037,0.056,0.073,0.054,22.499,-3.514,1.121,-1.558
Shops,0.037,0.081,0.077,0.046,26.663,1.400,0.176,-1.288
Hlth,0.039,0.052,0.101,0.058,22.150,-4.245,-2.659,1.442
Utils,0.037,0.050,0.082,0.050,16.830,-3.814,4.239,1.036